<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052885346657-d7rv18b7qpvt2td168eha7vfi8liooag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052885346657-d7rv18b7qpvt2td168eha7vfi8liooag</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1052885346657-43tdbssauj8ou9cq1k977c3amkk63mrg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDItP4NFK4vGCah3I5XikelGVBZ8m9owYo</string>
	<key>GCM_SENDER_ID</key>
	<string>1052885346657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gafer</string>
	<key>PROJECT_ID</key>
	<string>footprint-fixkg3</string>
	<key>STORAGE_BUCKET</key>
	<string>footprint-fixkg3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052885346657:ios:0d1343cf635ddd5ee1bd20</string>
</dict>
</plist>